// Color
$black: #000000;
$blue: #1b2b66;
$blLight: #0081c2;
$colorLink: #005580;
$white: #ffffff;
$wtDark: #e5e5e5;
$gray: #eee;
$grDark: #aab1cc;
$grPanel: #555;
$generalText: #333;
$green: #4CAF50;
$red: #FF0000;

// Color

// Text
$font-size: 16px;
$font-weight: 400;
// Text

// Picture
$images: "../images";
// Picture